@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

.header {
  background-image: url("../img/Собака Главный экран.png"),
    url("../img/Ellipse Главный экран.png"), url("../img/Ellipse Шапка.png");
  height: 725px;
  background-repeat: no-repeat;
  background-size: 580px, 690px, 410px;
  background-position: bottom -37px right 170px, bottom -80px right 15px,
    top 0px left 470px;
}

a {
  text-decoration: none;
}

.navigation {
  margin-left: 220px;
  padding-top: 42px;
}

.navigation a {
  color: rgb(40, 59, 64);
  font-size: 34px;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  letter-spacing: 6%;
  margin-left: 128px;
}

.header-main h1 {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 55px;
  color: rgb(40, 59, 64);
  letter-spacing: 1px;
}

.header-main {
  width: 650px;
  margin-left: 149px;
  margin-top: 220px;
}

.header-main button {
  margin-top: 20px;
  font-family: "Rubik", sans-serif;
  color: white;
  background-color: rgb(242, 150, 143);
  padding: 25px 80px;
  outline: none;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 40px;
}

.main {
  background-image: url("../img/Фон питомцы.png");
  height: 1525px;
  border-top: 5px solid #f2968f;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.welcome-image {
  padding-top: 80px;
  text-align: center;
}

.animal-cards {
  margin-top: 60px;
  margin-left: 200px;
  margin-right: 200px;
  display: flex;
  flex-wrap: wrap; /* Позволяет карточкам оборачивать в следующую строку */
  justify-content: space-between; /* Равномерно распределяет карточки по ширине */
}

.animal-card {
  border: 1px solid #ccc;
  border-radius: 12px; /* Закругленные углы */
  margin: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Тень для глубины */
  text-align: center;
  background-color: #fff; /* Белый фон */
  width: calc(33.33% - 30px); /* Ширина карточек (3 карточки в ряд) */
  box-sizing: border-box; /* Учитывает padding и margin в ширине */
  transition: transform 0.2s, box-shadow 0.2s; /* Плавный переход при наведении */
}

.animal-card img {
  border-radius: 10px; /* Закругленные углы для изображения */
  max-width: 100%;
  height: auto;
}

.animal-info {
  text-align: left; /* Выравнивание текста влево */
  margin-top: 7px; /* Отступ сверху */
  margin-left: 10px;
}

.animal-info-flexbox h2 {
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  color: #333;
  margin: 0; /* Убираем отступы */
}

.animal-info-flexbox {
  display: flex;
  align-items: center;
}

.animal-info .breed {
  color: #777; /* Цвет для породы */
  margin: 0;
  margin-bottom: 13px; /* Отступ сверху и снизу */
}

.animal-info .age {
  color: #555; /* Цвет для возраста */
  margin: 0; /* Отступ сверху и снизу */
  margin-left: auto;
  margin-right: 30px;
}

/* Эффект при наведении */
.animal-card:hover {
  transform: translateY(-5px); /* Подъем карточки при наведении */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); /* Более сильная тень при наведении */
}

/* Стили пагинации */
.pagination {
  text-align: center;
  margin: 20px 0;
}

.pagination button {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  padding: 10px 15px;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  background-color: rgb(242, 150, 143);
  color: white;
  cursor: pointer;
}

.about-us {
  background-image: url("../img/Фон о нас.png");
  height: 1700px;
  border-top: 5px solid #f2968f;
  border-bottom: 5px solid #f2968f;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.Description1 {
  display: flex;
  margin-top: 80px;
  align-items: center;
}

.Description1 img {
  margin-left: 120px;
}

.text-description1 {
  font-family: "Rubik", sans-serif;
  color: rgb(40, 59, 64);
  width: 600px;
  text-align: center;
  margin-left: auto;
  margin-right: 120px;
}

.text-description1 p {
  border-radius: 60px;
  background-color: rgb(222, 193, 233);
  padding: 20px 30px;
  font-size: 27px;
  margin-top: 10px;
  line-height: 120%;
}

.text-description1 h3 {
  font-size: 38px;
  margin: 0;
}

.Description2 {
  display: flex;
  align-items: center;
}

.Description2 img {
  margin-left: auto;
  margin-right: 120px;
}

.text-description2 {
  font-family: "Rubik", sans-serif;
  color: rgb(40, 59, 64);
  width: 600px;
  text-align: center;
  margin-left: auto;
  margin-right: 120px;
}

.text-description2 p {
  border-radius: 60px;
  background-color: rgb(222, 193, 233);
  padding: 20px 30px;
  font-size: 27px;
  margin-top: 10px;
  line-height: 120%;
}

.text-description2 h3 {
  font-size: 38px;
  margin: 0;
}

.Description3 {
  display: flex;
  align-items: center;
}

.Description3 img {
  margin-left: 120px;
}

.text-description3 {
  font-family: "Rubik", sans-serif;
  color: rgb(40, 59, 64);
  width: 600px;
  text-align: center;
  margin-left: auto;
  margin-right: 120px;
}

.text-description3 p {
  border-radius: 60px;
  background-color: rgb(222, 193, 233);
  padding: 20px 30px;
  font-size: 27px;
  margin-top: 10px;
  line-height: 120%;
}

.text-description3 h3 {
  font-size: 38px;
  margin: 0;
}

.contacts {
  background-image: url("../img/Ellipse Главный экран.png"),
    url("../img/круг-подвал.jpg");
  height: 725px;
  background-repeat: no-repeat;
  background-size: 300px, 590px;
  background-position: top 20px right 250px, bottom 0px left -270px;
}

.feedback-form {
  margin-left: 250px;
  margin-top: 70px;
}
.number-form input {
  border: 3px solid #f2968f;
  border-radius: 6px;
  width: 440px;
  height: 55px;
}

.number-form p {
  font-family: "Rubik", sans-serif;
  color: rgb(40, 59, 64);
  font-size: 14.5px;
  margin-bottom: 5px;
  margin-left: 10px;
  font-weight: 500;
}

.email-form input {
  border: 3px solid #f2968f;
  border-radius: 6px;
  width: 440px;
  height: 55px;
}

.email-form p {
  font-family: "Rubik", sans-serif;
  color: rgb(40, 59, 64);
  font-weight: 500;
  font-size: 14.5px;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-top: 25px;
}

.feedback-form button {
  font-family: "Rubik", sans-serif;
  margin-top: 30px;
  background-color: #f2968f;
  border-color: #f2968f;
  width: 210px;
  height: 55px;
  color: #fff;
  font-size: 22px;
  font-weight: 500;
  cursor: pointer;
}

.contacts-flexbox {
  display: flex;
  align-items: center;
}

.data {
  margin-top: 29px;
  margin-left: 150px;
}

.donation {
  display: flex;
  align-items: center;
}

.number {
  padding-top: 30px;
  display: flex;
  align-items: center;
}

.donation p {
  font-family: "Rubik", sans-serif;
  margin-left: 20px;
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 2px;
  color: #283b40;
}

.number p {
  font-family: "Rubik", sans-serif;
  margin-left: 20px;
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 2px;
  color: #283b40;
}

.footer {
  margin-top: 40px;
  height: 100px;
  background-color: #bf5e57;
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.search-input {
  padding: 10px;
  width: 50%;
  font-size: 16px;
  border-radius: 10px;
  border: 2px solid #f2968f;
  margin-bottom: 20px;
  outline: none;
}

.filters {
  display: flex;
  justify-content: space-around;
  width: 80%;
  gap: 20px;
  margin-bottom: 40px;
}

.filter-select {
  padding: 10px;
  font-size: 16px;
  border-radius: 10px;
  border: 2px solid #f2968f;
  outline: none;
}
